
.direct-message-user-topbar{
    width:100%;
    box-shadow: 0px 0px 1px gray;
    padding:10px 20px ;
}

.direct-message-user-icon{
    width: 40px;
    height:40px;
}

.direct-message-username{
    color:#000000;
}



.inverted{
    transform: rotateX(180deg);
    display: inline-block;
}