.message-channel-row-item{
    padding:5px;
    border-radius: 3px;
}

.message-channel-icon{
    padding-left: 7px;
    padding-right: 7px;
}


.add-btn{
    all:unset;
    align-self: start;
    padding: 3px 4px;
}