*{
    --top-nav-height:40px;
}
.top-nav{
    width: 100%;
    height:var(--top-nav-height,40px);
    display: flex;
    align-items: center;
    background-color: #350d36;
    position: fixed;
}
.top-nav-left{
    flex:3;
    height:65%;
    margin-right: 20px;
}
.top-nav-mid{
    flex:5;
    height:65%;

}
.top-nav-right{
    flex:3;
    display: flex;
    justify-content: flex-end;
    gap:10px;
    height:65%;
    margin-right: 20px;
}
.top-nav-btn{
    padding: 5px;
    border-radius: 4px;
}