*{
    --left-nav-font-color:rgba(255, 255, 255, 0.7);
}

.left-nav {
    display: flex;
    flex-direction: column;
    top: var(--top-nav-height, 40px);
    height: 100%;
    background-color: #3F0E40;
    color: white;
}

.left-nav-top {
    flex: 0;
    padding: var(--left-nav-padding, 20px);
}

.left-nav-mid {
    flex: 0;
    box-shadow: 0px -1px rgba(255, 255, 255, 0.1);
    padding: var(--left-nav-padding, 20px);
}

.left-nav-bottom {
    padding-top:var(--left-nav-padding, 20px);
    flex: 1;
    box-shadow: 0px -1px rgba(255, 255, 255, 0.1);
}

.channel-name-wrapper {
    display: flex;
    justify-content: space-between;
}

.upgrade-btn {
    all: unset;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #3F0E40;
    color: white;
    outline: 1px solid white;
    min-width: max-content;
}

.channel-name {
    padding: var(--padding-small, 6px);
    border-radius: 10px;
    width: max-content;
}